{% load static %}

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'menu/style.css' %}" />
    <title>Menu</title>
  </head>
  <body>
    <main>
      <div class="menu">
        <a href="{% url 'main:index' %}">
          <img
            src="{% static 'img/small_logo.png' %}"
            alt="Logo"
            width="200"
            height="50"
            id="small_logo"
          />
        </a>
      </div>
      <h1>Les Pizzas</h1>
      <ul>
        {% for pizza in Pizzas %}
        <li>
          <span class="item_name">{{ pizza.Nom }}</span>
          <span class="item_price">{{pizza.Price | floatformat:2}}€</span>
          <span class="item_ingredients">{{ pizza.Ingredients }}</span>
          {% if pizza.Vegetarian %}
          <span class="item_badgevege">Végétarienne</span>
          {%endif%}
        </li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
